.git
.github
.husky
.nx-container
.storybook
.vscode
node_modules/
!node_modules/tslib
.commitlintrc.js
.czrc
.dockerignore
.editorconfig
.eslintrc.json
.prettierignore
.prettierrc
CHANGELOG.md
jest.config.ts
jest.preset.js
README.md
**/Dockerfile
**/.vscode
**/__tests__
