.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
**/.next
**/dist
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/.terraform
**/.nx-container
**/terraform.tfstate
**/terraform.tfstate.backup
**/plan.tfplan
**/node_modules
apps/web/public/*
!apps/web/public/favicon.ico
!apps/web/public/manifest.json
!apps/web/public/robots.txt
**/tmp
**/.env**
!**/.env.skeleton
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/firebase-debug.log*
**/firebase-debug.*.log*
**/.firebase/
**/coverage
