.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
npm-debug.log
yarn-error.log
**/.next
**/dist
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.terraform
.nx-container
**/terraform.tfstate
**/terraform.tfstate.backup
**/plan.tfplan
**/node_modules
apps/web/public/*
!apps/web/public/favicon.ico
!apps/web/public/manifest.json
!apps/web/public/robots.txt
**/tmp
