{
    "arrowParens": "always",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "printWidth": 120,
    "tabWidth": 4,
    "semi": true,
    "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
