# Add files here to ignore them from prettier formatting

**/dist
**/coverage
**/node_modules
**/storybook.requires.js
**/.vscode
!vscode/extensions.json
**/.terraform
*.md
.yarn/
**/*.tfstate
**/*.tfstate.backup
**/.next
apps/web/public/*.js
gha-creds-*.json
**/tmp
libs/graphql/src/lib/graphql/**/*
services/hasura/metadata/**/*.yaml
services/hasura/metadata.json
